h1 {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 34px;
}
.cardContainer {
  margin-top: 10vh;
  margin-left: 5vh;
  width: 40%;
  height: 100%;
}

.card {
  height: 60vh;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding-bottom: 24px;
  padding: 16px;
}

.example-form {
  margin-top: 15px;
}
.first_name_input,
.last_name_input,
.team_name_input {
  width: 100%;
  margin: 3px auto;
  text-align: center;
}

.selectContainer {
  width: 100%;
}
.position_select,
.birthday_select {
  margin-left: 4%;
  width: 44%;
  text-align: center;
}

button {
  height: 5vh;
  width: 100%;
  margin-top: 5%;
  background: #2af5ff;
  box-shadow: 5px 1px 3px 3px rgba(0, 0, 0, 0.2),
    5px 1px 1px 0px rgba(0, 0, 0, 0.14), 5px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  font-family: 'Roboto Slab';
  font-size: 16px;
}

::ng-deep .mat-form-field-underline {
  background-color: #1493ff !important;
}

/* when there is no value  */
::ng-deep .mat-form-field-empty.mat-form-field-label {
  font-size: 16px;
  color: black;
  font-family: 'Roboto Slab';
  font-weight: 550;
}

/* when there is a value in the input  */
::ng-deep
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  color: #1493ff;
  font-size: 20px;
  font-weight: 550;
  font-family: 'Roboto Slab';
}

/* drop down text  */
::ng-deep .mat-select-value,
::ng-deep .mat-option-text {
  font-weight: 550;
  color: black;
  font-family: 'Roboto Slab';
  text-align: center;
}

/* drop down text when selected  */
::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: #8bc4ff;
}

/* drop down text when hovered over  */
::ng-deep .mat-option:hover {
  background: green;
}
